:root {
    --displayed-rows: 6;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#board {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: calc(128px * 0.80 / var(--displayed-rows));
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 384px;
    font-variant-numeric: tabular-nums;
    transform-origin: top center;
}

#stops-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow-x: hidden;
    flex: 1;
}

.stop-section {
    display: flex;
    flex-direction: column;
    min-width: 384px;
    max-width: 384px;
    padding-right: 12px;
    align-self: stretch;
    box-sizing: border-box;
}

.stop-section + .stop-section {
    border-left: 1px solid #444;
    /*padding-left: 12px;*/
    padding-right: 12px;
}

.stop-section table {
    table-layout: fixed;
    width: 100%;
}

.stop-section .station-name {
    font-size: calc(128px * 0.95 / var(--displayed-rows));
    font-weight: bold;
    text-align: center;
    padding: 4px 0px 4px 12px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

main table td {
    vertical-align: middle;
    padding: 1px 0;
}

.platform-label {
    font-size: calc(128px * 0.95 / var(--displayed-rows));
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    padding: 0 8px;
    border-right: 1px solid #444;
    width: 1.5em;
    min-width: unset;
    letter-spacing: 0.05em;
}

.route {
    width: 3em;
    padding-left: 8px;
    padding-right: 10px;
    text-align: right;
}

.accessible {
    width: 12px;
    padding-right: 10px;
    text-align: center;
}

.aircondition {
    width: 12px;
    padding-right: 10px;
    text-align: center;
}

.aircondition img {
    width: 10px;
}

.headsign {
    padding-right: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 0;
}

.arrival {
    width: 2.5em;
    text-align: right;
    white-space: nowrap;
}

img {
    max-height: calc(128px * 0.6 / var(--displayed-rows));
}

#datetime {
    display: flex;
    justify-content: space-between;
    padding-top: 4px;
    /*border-top: 1px solid #444;*/
}

#colon {
    animation-name: blink;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: steps(2, jump-none);
}

@keyframes blink {
    from {
        color: white;
    }
    to {
        color: #222;
    }
}

.error-message {
    text-align: center;
    color: #ff4444;
    padding: 8px;
    font-size: calc(128px * 0.7 / var(--displayed-rows));
}